@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap%27);');
:root {
  --darkest-bg: #1b1b1f;
  --dark-bg: #202127;
  --light-bg: #2d2e34;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--dark-bg);
  color: #449f87;
}

header{
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  filter: dropshadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

}
.logo{
  font-size: 3rem;
  color: #449f87;
  font-weight: 800;
  cursor: pointer;
  transition: .5s ease;
}
.logo:hover{
  transform: scale(1.1);
}
nav a{
  font-size: 1.8rem;
  color: #f8f7f2;
  margin-left: 4rem;
  transition: .3s ease;
  border-bottom: 3px solid transparent;
}
nav a:hover, nav a.active{
  color: #449f87;
  border-bottom: 3px solid #449f87;
}

.hamburger {
  display: none;
  font-size: 3rem;

  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #f8f7f2;;
  margin: 6px 0;
  border-radius: 2rem;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

section{
  min-height: 100vh;
  padding: 5rem 9% 5rem;
}

.home, .reports, .tests{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-color: var(--darkest-bg);
}

h1{
  color: #f8f7f2;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3;
}
h2{
  font-size: 3rem;
}
span{
  color: #449f87;
}
p{
  font-size: 1.5rem;
  color: #989898;
}

.home-img{
  border-radius: 50%;
  background: var(--dark-bg);
  box-shadow: 0 0 25px var(--dark-bg);
  width: 32vw;
  height: 32vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-img svg{
  position: relative;
  width: 30vw;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s linear;
}
.framework-icons{
  display: flex;
  justify-content: right;
}
.framework-icons svg {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  /*border: 0.2rem solid #449f87;*/
  font-size: 2rem;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
  color: #449f87;
}

.about{
  display: flex;
  justify-content: center;
}
.about p{
  text-align: center;
}

.about h1 span{
  color: #449f87;
}

.about span{
  color: #f8f7f2;
}
.about-content {
  margin: 5%;
  width: 100%;
}

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5%;
  background-color: var(--darkest-bg);
  padding: 1rem;
  border-radius: 2vh;
}

.team-member-card {
  background-color: var(--light-bg);
  flex: 1 1 250px;
  max-width: 300px;
  min-height: 40vh;
  margin: 1rem;
  border-radius: 2vh;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.team-member-card div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.reports-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
}

.report-container {
  background-color: var(--dark-bg);
  border-radius: 2rem;
  width: 32vw;
  height: 40vw;
  margin: 1rem;
}

.report-container div {
  margin: 2rem;
}

.report-spacing {
  height: 20vh;
  overflow: hidden;
}


@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--dark-bg);
    display: none;
    flex-direction: column;
    align-items: center;
  }

  nav.show {
    display: flex;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
  }


  nav a {
    margin: 1rem;
    display: block;
    font-size: 2rem;
  }

  .home{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .home h1{
    font-size: 3rem;
    text-align: center;
  }
  .home p{
    text-align: center;
  }
  .framework-icons{
    display: flex;
    justify-content: center;
  }

  .members {
    flex-direction: column;
    align-items: center;
  }

  .team-member-card {
    width: 90%;
    max-width: none;
  }
  .reports-content {
    flex-direction: column;
    align-items: center;
  }
  .report-container {
    width: 80vw;
    height: auto;
  }
}

@media(prefers-color-scheme: light) {
  :root {
    --darkest-bg: #f1f1f1;
    --dark-bg: #dcdcdc;
    --light-bg: #e4e4e4;
  }
  h1{
    color: #1b1b1f;
  }

  nav a{
    color: #1b1b1f;
  }
  .reports-content h1, p {
    color: #1b1b1f;
  }
  .about-content p span{
    color: #449f87;
  }
  .bar1, .bar2, .bar3 {
    background-color: #1b1b1f;
  }

}
